/* Palette color codes */
/* Feel free to copy&paste color codes to your application */

/* .primary-1 { background-color: #3314A2 }
.primary-2 { background-color: #2E1680 }
.primary-0 { background-color: #241168 }
.primary-3 { background-color: #170849 }
.primary-4 { background-color: #0D052B }

.secondary-1-1 { background-color: #31C701 }
.secondary-1-2 { background-color: #2D9E0A }
.secondary-1-0 { background-color: #248007 }
.secondary-1-3 { background-color: #155900 }
.secondary-1-4 { background-color: #0D3500 }

.secondary-2-1 { background-color: #EB1302 }
.secondary-2-2 { background-color: #BA180B }
.secondary-2-0 { background-color: #971208 }
.secondary-2-3 { background-color: #690800 }
.secondary-2-4 { background-color: #3E0500 } */

/* end */

:root {
    font-family: 'Open Sans', sans-serif;
    --main-color: #3314A2;
    --secondary-color-1: #31C701;
    --secondary-color-2: #EB1302;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

.divider {
    height: 10px;
}

.intro-car {
    padding: 0px 0px 0px 0px;
    background-image: url(../img/fon.jpg);
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.artc {
    width: 40%;
    justify-content: start;
    text-align: center;
    padding: 5px 5px 5px 5px;
}
