/* 
    Colors:
    #000000 - black
    #F8F4E3 - eggshell
    #931621 - ruby red
    #FF8C20 - dark orange
*/

:root {
    font-family: 'Open Sans', sans-serif;
    --main-color: #000000;
    --secondary-color-1: #F8F4E3;
    --secondary-color-2: #931621;
    --secondary-color-2: #FF8C20;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

.divider {
    height: 10px;
}

.intro-car {
    padding: 0px 0px 0px 0px;
    background-image: url(../img/fon.jpg);
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.artc {
    width: 40%;
    justify-content: start;
    text-align: center;
    padding: 5px 5px 5px 5px;
}
