@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
/* 
    Colors:
    #000000 - black
    #F8F4E3 - eggshell
    #931621 - ruby red
    #3409CF - medium blue
*/

:root {
    font-family: 'Open Sans', sans-serif;
    --main-color: #000000;
    --secondary-color-1: #F8F4E3;
    --secondary-color-2: #931621;
    --secondary-color-3: #3409CF;
    scroll-behavior: smooth;
    background-image: url(../img/fon.png);
    background-size: cover;
    background-position: center;
}

body {
    max-width: 1200px;
    margin: auto;
    line-height: normal;
    font-size: 1rem;
}

.navigation-text {
    font-size: 20px;
    font-family: Montserrat;
}

.e-mail {
    font-size: 15px;
    font-family: Montserrat;
}

.intro-box {
    position: relative;
    text-align: left;
}

.intro {
    width: 100%;
    max-height: 600px;
}

.intro-text {
    width: 45%;
    position: absolute;
    top: 40%;
    left: 2.5%;
    font-size: 300%;
    font-family: Roboto;
    color: var(--secondary-color-1);
    text-shadow: black 0 0 10px;
}

.intro-logo {
    width: 10%;
    position: absolute;
    top: 70px;
    right: 16px;
}

.divider {
    height: 10px;
    background-image: url(../img/fon.png);
    background-size: cover;
    background-position: center;
}

h2 {
    font-weight: bold;
    font-family: Noto Sans JP;
}

.our-photos {
    width: 33%;
    border-radius: 50px;
}

.our-bio {
    width: 34%;
    font-size: 24px;
    font-family: Source Sans Pro;
    text-align: center;
    color: var(--main-color);
    background-color: rgba(248, 244, 227, 0.3);
}

#carousel-windows, #carousel-doors, #carousel-gates, #carousel-rolletes {
    width: 55%;
    max-height: 500px;
}

.info-block {
    width: 100%;
    background-color: rgba(248, 244, 227, 0);
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.article {
    width: 45%;
    font-size: 24px;
    font-family: Source Sans Pro;
    text-align: center;
    color: var(--main-color);
    background-color: rgba(248, 244, 227, 0.3);
    margin: auto;
}

.carousel-img {
    max-height: 400px;
}

.product-beginning {
    background-color: var(--secondary-color-3);
    width: 100%;
    font-size: 45px;
    font-weight: bold;
    font-family: Source Sans Pro;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 0px;
}

.cert-left {
    width: 30%;
    margin-left: 0%;
    margin-right: 3%;
}

.cert-mid {
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
}

.cert-right {
    width: 30%;
    margin-right: 0%;
    margin-left: 3%;
}

.pre-last {
    width: 100%;
    display: flex;
    background-image: url(../img/fon.png);
    background-size: cover;
    background-position: center;
}

.numbers {
    width: 50%;
    
    text-align: center;
}

.phones {
    line-height: 10px;
    font-weight: bold;
    font-size: 20px;
}